In [2]:
import pandas as pd

from pathlib import Path 
current_path = Path().resolve()

import warnings
warnings.filterwarnings('ignore')

RAW_PATH = current_path.parent / 'data' / 'raw'
OUTPUT_PATH = current_path.parent / 'data' / 'output'
IMGS_PATH = current_path.parent / 'imgs'

In [25]:
df1= pd.read_csv(RAW_PATH / 'features' / 'Waze_feature_table.csv')

In [27]:
print(df1.to_latex(index=False))

\begin{tabular}{llr}
\toprule
                 Name &                                      Description &  Classification \\
\midrule
      usual\_road\_type &                                 Median road type &             1.0 \\
         bool\_highway &                             Indicator of highway &             NaN \\
         bool\_primary &                       Indicator of primary roads &             NaN \\
           bool\_ramps &                               Indicator of ramps &             NaN \\
       bool\_secondary &                     Indicator of secondary roads &             NaN \\
        count\_highway &         Number of jams in highways in the period &             NaN \\
        count\_streets &          Number of jams in streets in the period &             NaN \\
        count\_primary &    Number of jams in primary roads in the period &             NaN \\
      count\_secondary &  Number of jams in secondary roads in the period &             NaN \\
 count\_primary\_street &  Number of jams in primary streets in the period &             NaN \\
  count\_primary\_ramps &    Number of jams in primary ramps in the period &             NaN \\
\bottomrule
\end{tabular}

0              general_counta
1                 node_counta
2                 info_counta
3              highway_counta
4              natural_counta
5                place_counta
6              parking_counta
7          addr_street_counta
8     addr_housenumber_counta
9              amenity_counta
10              school_counta
11          restaurant_counta
12    place_of_worship_counta
13                shop_counta
14                name_counta
15            crossing_counta
Name: Name, dtype: object

In [10]:
df = pd.read_csv(RAW_PATH / 'features' / 'osm_data.csv')

In [16]:
df = df.rename(columns={'name': 'name_counta', 'crossing': 'crossing_counta'})

In [18]:
df = df.drop('parking',1)

In [19]:
df.head()

,h3id_9,no_med,no2_med,bc_med,city,general_counta,node_counta,info_counta,highway_counta,natural_counta,...,parking_counta,addr_street_counta,addr_housenumber_counta,amenity_counta,school_counta,restaurant_counta,place_of_worship_counta,shop_counta,name_counta,crossing_counta
0,8928308110bffff,14.802925,18.260975,0.798701,1,24,10,6,6,0,...,0,0,0,0,0,0,0,0,0,4
1,89283081143ffff,8.378344,15.935288,0.559961,1,34,6,24,2,0,...,0,0,0,0,0,0,0,0,1,2
2,892830811cfffff,5.392604,11.553340,0.373942,1,78,8,53,1,0,...,0,2,2,3,0,1,0,0,8,0
3,89283081477ffff,4.976695,16.055908,0.556416,1,8,3,7,1,0,...,0,0,0,0,0,0,0,0,1,0
4,892830813afffff,11.644565,16.497480,0.438322,1,238,30,88,22,0,...,0,2,2,4,0,1,0,1,12,12

In [23]:
df[df1['Name']].describe().T.round(2)

                         count    mean     std  min   25%   50%    75%     max
general_counta           291.0  140.54  175.91  2.0  41.0  90.0  176.0  1258.0
node_counta              291.0   22.75   28.80  1.0   7.0  13.0   27.0   221.0
info_counta              291.0   47.23   52.21  2.0  17.5  37.0   54.5   366.0
highway_counta           291.0   12.38   14.71  0.0   3.0   6.0   18.0    69.0
natural_counta           291.0    0.16    1.61  0.0   0.0   0.0    0.0    24.0
place_counta             291.0    0.09    0.29  0.0   0.0   0.0    0.0     2.0
parking_counta           291.0    0.15    0.90  0.0   0.0   0.0    0.0    13.0
addr_street_counta       291.0    0.91    2.55  0.0   0.0   0.0    0.0    19.0
addr_housenumber_counta  291.0    1.01    2.88  0.0   0.0   0.0    0.0    19.0
amenity_counta           291.0    3.17    9.36  0.0   0.0   0.0    2.0    70.0
school_counta            291.0    0.09    0.34  0.0   0.0   0.0    0.0     3.0
restaurant_counta        291.0    0.83    3.03  0.0   0.0   0.0    0.0    22.0
place_of_worship_counta  291.0    0.20    0.55  0.0   0.0   0.0    0.0     4.0
shop_counta              291.0    1.29    5.13  0.0   0.0   0.0    1.0    63.0
name_counta              291.0    7.03   14.95  0.0   1.0   3.0    7.0   142.0
crossing_counta          291.0   13.12   20.27  0.0   0.0   2.0   18.0    96.0